<!--    <div class="example">
        <h3>Count Down</h3>
        <div class="countdown" data-role="countdown" data-days="2"></div>
    </div>-->
<div class="example">
    <h3 class="text-light">
    ภาพกิจกรรม<br>
    <small>ภาพกิจกรรมงาน Long Term Care</small>
    <span class="mif-image place-right"></span>
     </h3>
    <hr class="thin bg-grayLighter">
    <div align="center">
        <div class="carousel square-bullets" data-height="400" data-role="carousel" data-direction="right">
            <div class="slide"><img src="images/1.jpg" data-role="fitImage" data-format="fill"></div>
            <div class="slide"><img src="images/2.jpg" data-role="fitImage" data-format="fill"></div>
            <div class="slide"><img src="images/3.jpg" data-role="fitImage" data-format="fill"></div>
            <div class="slide"><img src="images/4.jpg" data-role="fitImage" data-format="fill"></div>
            <div class="slide"><img src="images/5.jpg" data-role="fitImage" data-format="fill"></div>
        </div>
    </div>
</div>
<div class="example">
    <h3 class="text-light">ข่าวประชาสัมพันธ์<br>
    <small>ข่าวประชาสัมพันธ์งาน Long Term Care</small>
    <span class="mif-feed3 place-right"></span>
    </h3>
    <hr class="thin bg-grayLighter">
    <div class="tile-group no-margin no-padding" style="width: 100%">
        <div class="flex-grid">
            <div class="row flex-just-sa">
                <div class="tile-big tile-wide-y bg-white" data-role="tile">
                    <div class="tile-content">
                        <div class="panel" style="height: 100%">
                            <div class="heading fg-white"><span class="title text-light">Long Term Care</span></div>
                            <div class="content fg-dark clear-float padding5" style="height: 100%;">
                                <img src="images/5.jpg" class="place-left margin10" style="height: 150px" align="center">
                                <h4 class="text-light">Long Term Care</h4>
                                <hr class="thin">
                                <p>สสอ.สว่างอารมณ์ จัดอบรมหลักสูตรอาสาสมัครดูแลผู้สูงอายุ ตำบลบ่อยาง Cr. ภาพจาก สสอ.สว่างอารมณ์</p>
                                <button class="button primary">อ่านรายละเอียด</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tile-big tile-wide-y bg-white" data-role="tile">
                    <div class="tile-content">
                        <div class="panel" style="height: 100%">
                            <div class="heading fg-white"><span class="title text-light">Long Term Care</span></div>
                            <div class="content fg-dark clear-float padding5" style="height: 100%;">
                                <img src="images/5.jpg" class="place-left margin10" style="height: 150px" align="center">
                                <h4 class="text-light">Long Term Care</h4>
                                <hr class="thin">
                                <p>สสอ.สว่างอารมณ์ จัดอบรมหลักสูตรอาสาสมัครดูแลผู้สูงอายุ ตำบลบ่อยาง Cr. ภาพจาก สสอ.สว่างอารมณ์</p>
                                <button class="button primary">อ่านรายละเอียด</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
