<div class="example">
    <blockquote>
        <h5>ข้อมูลจำนวนประชากรผู้สูงอายุ จำแนกตามตามอำเภอ ช่วงอายุและการอยู่อาศัย</h5>
        <small>ประมวลผลล่าสุด วันที่ {{older[0]['last_calc']}}</small>
    </blockquote>
    <hr class="thin bg-grayLighter">
    <div class="align-right">
        <button class="image-button success" ng-click="exportData();">
            Excel
            <span class="icon mif-file-excel bg-darkGreen"></span>
        </button>
        <button class="image-button warning">
            Print
            <span class="icon mif-printer bg-darkOrange"></span>
        </button>
    </div>
    <div class="input-control text" style="font-size: 13px;">
        <span class="mif-search prepend-icon"></span>
        <input type="text" ng-model="search" placeholder="ค้นหา...">
    </div>

            <div id="exportable">
                <table id="example" class="table striped hovered cell-hovered border bordered" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="3" style="text-align: center;">อำเภอ</th>
                            <th rowspan="3" style="text-align: center;">ผู้สุงอายุเฉพาะอยู่จริง(คน)</th>
                            <th rowspan="3" style="text-align: center;">คัดกรอง</th>
                            <th rowspan="3" style="text-align: center;">%</th>
                            <th colspan="6" style="text-align: center;">แบ่งตามสมรรถนะ</th>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align: center;">ติดสังคม</th>
                            <th colspan="2" style="text-align: center;">ติดบ้าน</th>
                            <th colspan="2" style="text-align: center;">ติดเตียง</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">จำนวน</th>
                            <th style="text-align: center;">%</th>
                            <th style="text-align: center;">จำนวน</th>
                            <th style="text-align: center;">%</th>
                            <th style="text-align: center;">จำนวน</th>
                            <th style="text-align: center;">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in older | filter:search">
                            <td>
                                <div ng-if="o.amp == 0" >{{o.name}}</div>
                                <div ng-if="o.amp > 0">
                                    <a ng-href="#">{{o.name}}</a>
                                </div>
                            </td>
                            <td align="center">{{o.pop_old|number}}</td>
                           
                            <td align="center">
                                <div ng-if="o.t0 < 1">0</div>
                                <div ng-if="o.t0 > 0">{{o.t0|number}}</div>      
                            </td>
                            <td align="center">{{(o.t0 * 100)/o.pop_old|number:2}}</td>
                            
                            <td align="center">
                                <div ng-if="o.at1 < 1">0</div>
                                <div ng-if="o.at1 > 0">{{o.at1|number}}</div>    
                            </td>
                            <td align="center">{{(o.at1 * 100)/o.pop_old| number:2 }}</td>
                            <td align="center">
                                <div ng-if="o.at2 < 1">0</div>
                                <div ng-if="o.at2 > 0">{{o.at2|number}}</div>                            
                            </td>
                            <td align="center">{{(o.at2 * 100)/o.pop_old| number:2 }}</td>
                            <td align="center">
                                <div ng-if="o.at3 < 1">0</div>
                                <div ng-if="o.at3 > 0">{{o.at3|number}}</div>                            
                            </td>
                            <td align="center">{{(o.at3 * 100)/o.pop_old| number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



   <!-- <div id="exportable">
        <table id="popOlder" class="table striped hovered cell-hovered border bordered" data-auto-width="false">
            <thead>
                <tr>
                    <th rowspan="3" style="text-align: center;">อำเภอ</th>
                    <th rowspan="3" style="text-align: center;line-height: 1.2;">ประชากรอยู่จริงทั้งหมด(คน)</th>
                    <th rowspan="3" style="text-align: center;line-height: 1.2;">ผู้สุงอายุเฉพาะอยู่จริง(คน)</th>
                    <th rowspan="3" style="text-align: center;line-height: 1.2;">%</th>
                    <th colspan="8" style="text-align: center;line-height: 1.2;">แยกตามช่วงวัย</th>
                    <th colspan="4" style="text-align: center;line-height: 1.2;">แยกตามการอยู่อาศัย</th>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">60-69 ปี</th>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">70-79 ปี</th>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">80-89 ปี</th>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">90 ปีขึนไป</th>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">อยู่คนเดียว</th>
                    <th colspan="2" style="text-align: center;line-height: 1.2;">อยู่กับครอบครัว</th>
                </tr>
                <tr>
                    <td>จำนวน</td>
                    <td>%</td>
                    <td>จำนวน</td>
                    <td>%</td>
                    <td>จำนวน</td>
                    <td>%</td>
                    <td>จำนวน</td>
                    <td>%</td>
                    <td>จำนวน</td>
                    <td>%</td>
                    <td>จำนวน</td>
                    <td>%</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in older | filter:search" ">
                    <td>
                        <div ng-if="o.amp==0 ">{{o.name}}</div>
                        <div ng-if="o.amp> 0">
                    <a ng-href="#/popOlderD/{{o.amp}}">{{o.name}}</a>
    </div>
    </td>
    <td align="center">{{o.pop_all|number}}</td>
    <td align="center">{{o.pop_old|number}}</td>
    <td align="center">{{(o.pop_old * 100)/o.pop_all|number:2}}</td>
    <td align="center">{{o.num_o1|number}}</td>
    <td align="center">{{(o.num_o1 * 100)/o.pop_old| number:2 }}</td>
    <td align="center">{{o.num_o2|number}}</td>
    <td align="center">{{(o.num_o2 * 100)/o.pop_old| number:2 }}</td>
    <td align="center">{{o.num_o3|number}}</td>
    <td align="center">{{(o.num_o3 * 100)/o.pop_old| number:2 }}</td>
    <td align="center">{{o.num_o4|number}}</td>
    <td align="center">{{(o.num_o4 * 100)/o.pop_old| number:2 }}</td>
    <td align="center">{{o.num_alone|number}}</td>
    <td align="center">{{(o.num_alone * 100)/o.pop_old| number:2 }}</td>
    <td align="center">{{o.num_wf|number}}</td>
    <td align="center">{{(o.num_wf * 100)/o.pop_old| number:2 }}</td>
    </tr>
    </tbody>
    </table>
</div>-->
<div class="grid" ng-hide="dataloaded == true">
    <div class="row cells1">
        <div class="cell" style="text-align: center;line-height: 1.2;">
            <div data-role="preloader" data-type="ring" data-style="color" style="margin: auto"></div>
            <small>รอซักครู่ครับ กำลังประมวลผล....</small>
        </div>
    </div>
</div>
</div>
